h2 {
    margin: 0;
    padding: 20px;
    text-align: center;
    
}
main {
    font-size: 20px;
}

ul.post {
    width: 28%;
    border: 10px #85B0FF solid;
    margin: 20px;
    background-color: #D9D9D9;
    color:  #525252;
    font-family: Anonymous Pro;
font-size: 2.3rem;
font-weight: 400;
line-height: 56px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

} 
ul.post button {
    width: 70%;
height: 58px;
border-radius: 20px;
background-color: #E57458;
border: none;
color: white; 
display: flex;

justify-content: center;
font-family: Anonymous Pro;
font-size: 2.3rem;
font-weight: 400;
line-height: 46px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-bottom: 30px;
}
.podrobn a{
    /* color: #525252; */
    text-decoration: none;

}
.name {
    font-size: 2.8rem;
}
.forum {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.text {
    word-wrap: break-word ;
    text-wrap: wrap;
}

@media (max-width: 1500px) { 
    ul.post {
        width: 40vw;
    }
}

@media (max-width: 900px) {
    ul.post {
        width: 80vw;
    }  
}